@font-face{
    font-family: Georgia, 'Times New Roman', Times, serif,serif;
    src: url('../font/Georgia');

}
*{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    direction: ltr;
    text-align: left;
    background-color: rgb(243, 242, 242); 
}
.container{
    width: 100%;
    max-width: 100%;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    background-color: rgb(243, 242, 242);
    padding-inline: 15px;
    
}
.header{
    border-bottom: 1px solid rgb(170, 161, 161);
    background-color: #ffff;

}

.nav{
    width: 100%;
    max-width: 1320px; 
    
    /* background: blue; */
    display: flex;
    justify-content: space-between;
}
:root{
    --blue: cadetblue  ;
    

}
.nav-left{
    width: 200px;
    height: 90px;
    /* background-color: red; */
    width: fit-content;
    display: flex;
    text-align: left;
}
.nav-right{
    width: fit-content;
    /* background-color: brown; */ */
    align-items: center; */
    direction: ltr;
    text-align: left;
}
.nav-left img {
    height: 50px; 
    /* display: inline; */
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
    
 }
 .nav-right > ul {
    display: flex;
    justify-content: flex-start; 
    gap: 50px;
    list-style: none;
    padding-right: 70px;
    font-size: 20px;
    /* font-weight: bolder; */ 
   
 }
 .nav-right > ul > li{
    
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    /* text-align: left; */
    cursor: pointer;
     
}
 .submenu{

    
    background-color: rgb(255, 252, 252);  */
    width: 200px;
    height: 130px;
    position: absolute;
    top: -50%;
    opacity: 0; 
    visibility: hidden; 
    transform: perspective(1000px) rotateX(90deg);
    transition: all .5s; 
    border-radius: 30px;
    /* padding-top: 15px; */
    
 }
 .nav-submenu-inner{
    width: 100%; 
    height: 100px;
    text-align: left;
    display: block;
    padding-left: 20px;
    align-items: flex-start;

 }
  .nav-submenu-inner ul {
      margin-bottom: 10px;
      width: 100%; 
      position: relative;
      font-size: 14px;
      border-left: 0px;
      /* padding-block: 10px; */
      text-align: left;
      padding-left: 0;


      
    
 }
 .nav-submenu-inner li { 
     white-space: nowrap ;
     padding-left: 0;
     padding-right: 100px;
    
     direction: ltr;
     text-align: left;
     list-style: none;
     height: 40px; 
     display: flex;   
     align-items: center; 
     justify-content: flex-start;
     border-left: 4px solid rgb(237, 220, 220);
     padding-left: 10px;
     transition: border .5s;
     
 }
 .nav-submenu-inner li:hover {
    border-left:var(rgb(198, 134, 134))  ;
    
    padding-left: 30px;
 }


 .nav-right ul > li:hover > .submenu{
    opacity: 100; 
    visibility: visible;  
    transform:perspective(1000px) rotateX(0) ;
    top: 50px;
    


 }
 

 

 
 .logo_container {
    color: cadetblue;
 }
 .buttonn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10000;
    /* all: unset;  */
    padding-inline: 40px;
    background-color:  cadetblue;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid cadetblue;
    transition: all .5s;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bolder; 
    font-size: 20px;
 }
 .buttonn:hover{
    background-color: transparent;
    color: cadetblue;
 }
/* <!-- start of herosection --> */
.container .herosection{
    border-bottom: none;
}

.herosection { 
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: calc(100vh -90px);
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding-top: 120px;

}

.herosectioninner {
    width: 100%; 
    height: 350px;
    background-color: #ECEDB0;
    border-radius: 30px;
    justify-content:center ;
    align-items: center;
    display: flex;
    position: relative;

}
.herosectioninner img {
    position: absolute;
    left: 8%;
    height: 500px;
}
.herosectioninner-text {
    width: 68%;
    height: 300px;
    text-align: right; 

    
}
    
.herosectioninner-text h1 {
    font-size: 25px;
    border-bottom: 4px solid cadetblue;
    display: inline;
}
.herosectioninner-text p {
    margin-left: 75%;
    display: inline-block;
    margin-top: 10px;
    line-height: 25px;
    max-width: 90%; 
    font-size: 20px;
    margin-right: -20%;
    direction: ltr; 
    text-align: left; 


}

.herosectioninner-text button{
     width: 68%; 
    all: unset;
    background-color: cadetblue;
    border-radius: 30px;
    padding-inline: 20px;
    cursor: pointer;

}
.service {
    width: 100%;
    max-width: 1320px;
    display: flex;
    gap: 30px; 
    margin-top: 200px;
    margin-bottom: 60px; 
    /* padding-bottom: 40px; */
    /* border-bottom: 3px solid rgb(170, 161, 161);  */


}
.service-item {
    width: 33.33%;
    height: 200px;
    padding-top: 100px;
    background-color: rgb(230, 233, 186);
    border-radius: 20px;
    display: flex;
    padding: 20px;
    
}
.service-item-left {
    width: 90px;
    /* background-color: rgb(128, 128, 189); */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    
}
.service-item-left span {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke:1px #866363 ;
}
.service-item-left-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #cdce9e;
}
.service-item-left-icon img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}
.service-item-right {
     width: calc(100% - 70px);
     background-color:#ffff; 
}
.service-item-right span {
    font-size: 25px;
    border-bottom: 2px solid rgb(218, 220, 141);
    -webkit-text-fill-color: rgb(231, 179, 110);
    margin-left: 10px;
    
}
.service-item-right p {
    font-size: 20px;
    line-height: 25px;
    direction: ltr;
    text-align: left;
    -webkit-text-fill-color:#616159;
    margin-left: 20px;
}
.about{
    width: 100%;
    max-width: 1320;
    display: flex;
    gap: 30px;
    margin-block: 100px;
}
.about-text {
    width: 50%;
    padding-left: 70px;
    /* height: 300px; */
    /* background-color: #10823f; */
}
.about-text h3 {
    font-size: 30px;

}
.about-text h3 span {
    color: var(--blue);
    cursor: pointer;
}
.about-text p {
    color: rgb(14, 14, 11);
    /* line-height: 10px; */
    text-align: justify;
}



.about-text-tag{
    width: fit-content;
    border-radius: 10px;
    
    height: 40px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    /* زیری و از 50 کردم 0 */
    margin-left: 0px;
    justify-content: center;
    color: #ffff;
    padding-inline: 10px;
    gap: 10px;
}
.about-text-tag-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:red;
}
.about-text-tag-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffff;
}
 .about-image {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    position: relative;
    margin-right: 5px;
    margin-top: 200px;
    

}
.@keyframes wave {
    from{
        opacity: 100%;
        transform: scale(1) ;

    }
    to{

        opacity: 0;
        transform: scale(.005);
}
}


 .about-image-item{ 
    width: 220px;
    aspect-ratio: 220px; 
    border-radius: 30px; 
    overflow: hidden;
    position: relative;
    
}



 .about-image-item img { 
    width: 100%;
    aspect-ratio: .9;
    background-color: #ffff;
   border-radius: 99px;
    object-fit: cover;
}
 .about-image-item center {
    transform: translateY(200px);
    border: 10px solid #ffff; 
    margin-left: -20px;
    
   border-radius: 20px;
}
.about-image-item2{
    /* display: flex;
    justify-content: center;
    margin-top: 40px; */
    margin-top: 120px;
    width: 220px;
    aspect-ratio: 220px; 
    border-radius: 30px; 
    overflow: hidden;
    position: relative;
}
.about-image-item2 img{
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    aspect-ratio: .9;
    background-color: #ffff;
   border-radius: 99px;
    object-fit: cover;

}

.trust-box {
    width: 40%;
    height: 150px;
    margin-top: -300px;
    margin-left: auto;
    margin-right: 100px;
    background: linear-gradient(135deg, #0a2740, #123f66);
    border-radius: 20px;
    text-align: center; 
    color: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    animation: wave 10s linear  infinite;
    
}

.trust-box h2 {
    font-size: 28px;
    padding-top: 30px;
    margin-bottom: 10px;
}

.trust-box p {
    font-size: 20px;
    opacity: 0.9;
    /* animation: wave 1s linear  infinite; */
}
@keyframes wave {
    from{
        opacity: .8;
        transform: scale(1) ;

    }
    to{

        opacity: 0;
        transform: scale(2);
}
}

.summery{
    background-color: #cdce9e;
    padding-block: 40px;
    margin-block: 70px; 
}
.summery_inner {
    width: 100%;
    max-width: 1320px;
    /* height: 200px; */
    /* background-color: rgba(234, 228, 239, 0.483); */
    display: flex;
    gap: 50px;
}
.summery_inner_item{
    width: 25%;
    border: 3px solid rgb(146, 133, 107);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    color: #ffff;
    align-items: center;
}
.summery_inner_item_icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffff;
}
.summery_inner_item_icon img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.summery_inner_item_text2{
    width: calc(100%-70px);
    padding-inline-start: 15px;
}
.summery_inner_item_text22{
    display: flex;
}
.summery_inner_item_text22 h5{
    margin-block: 0;
    font-size: 40px;
    font: bold;
}
/* شروع مراحل */
.step{
    width: 100%;
    max-width: 1320px;
    height: 300px;
    /* margin-block: 60px; */
    margin-bottom: 100px;
    /* display: flex; */
    flex-direction: colum; 
    align-items: center; 
    justify-content: center; 
    padding-left: 500px;
}
.step_tag span{
    width: fit-content; 
    border-radius: 10px;
     height: 40px; 
    background-color: var(--blue);
    display: flex;
    align-items: center;
    margin-left: 80px;
    justify-content: center;
    color: #ffff;
    padding-inline: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    border: 3px solid rgb(146, 133, 107);
    margin-top: -50px;
}

.step_tag_icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #616159;

}

.step h3 {
    font-size: 30px;
    margin-left: -200px;
}
.step_tag_icon img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffff;
}
.step_cont{
    width: 120%;
    height: 120px;
    /* background-color: #0a2740; */
    align-items: center; 
    justify-content: center; 
    margin-left: -350px;
    display: flex;
    gap: 30px;
    margin-top: 20px;
    
}
.step_cont_item{
    width: 30%;
    border: 1px solid #0a2740;
    border-radius: 40px;
    margin-top: 70px;
    box-shadow: 5px 1px 7px #0a2740;
    overflow: hidden;


}
.step_cont_item_head{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
.step_cont_item_head_label{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 0 0 30px 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #ffff;
   
    padding:5px 30px 10px 10px;
    background-color: #0a2740;
}
.step_cont_item_head_icon{
    width: 70px;
    height: 70px;
    box-shadow: 5px #0a2740;
    border-radius: 30% 30% 30% 0%;
    align-items: center;
    justify-content: center;

}
.step_cont_item_head_icon img {
    width: 70px;
    height: 70px;
    border-radius: 50% 50% 50% 0%;

}
.step_cont_item_text{
    width: 100%;
    padding-inline: 15px;

}
.step_cont_item_text span {
    font-size: 13px;
    padding-top: 15px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;

}
.step_cont_item_text p {
    font-size: 14px;
    line-height: 20px;
    /* text-align: justify; */

}


/* انیمیشننننننننن */
.videocover{  
    height: 550px;
   
    margin-top: 70px;
    background-image:linear-gradient(to left,#0a274064,#0a274050) ,url(../team\ job.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    align-items: center;
    justify-content: center; 
}
.videocover button{
    all: unset;
    width: 70px;
    height: 70px;
    background-color: #ffff;
    border-radius: 50%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
 }   
 .videocover button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    background-color: rgb(202, 174, 174);
    animation: wave 1s linear  infinite;
    

 }
 .videocover button img {
    width: 23px;
    fill: white;
    z-index: 2;
 }
@keyframes wave {
    from{
        opacity: .8;
        transform: scale(1) ;

    }
    to{

        opacity: 0;
        transform: scale(2);
}
}

.formcont {
    width:100% ;
    max-width: 700px;
    height: 300px;
    background-color:#cdce9e;
    box-shadow: 1px 1px 7px #0a2740a6;
    margin-bottom: 70px;
    transform: translateY(-100px);
    border-radius: 20px;
    
    
}
.formcont h3 {
    border-bottom:1px solid gray ;
    padding-bottom: 10px;
    padding-left: 10px;


}
.formcont_row {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.formcont_row_item {
   width: 50%;
   height: 50px; 
   /* background-color: #123f66; */
   display: flex;
   border: 1px solid #ffff;
   border-radius: 5px;
   overflow: hidden;
}
.formcont_row_item_icon{
    width: 50px;
    height: 50px;
}
.formcont_row_item_icon img{
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
}
.formcont_row_item input {
    width: calc(100% - 50px);
    border: none;
     
}
 .boxx{ 
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
    margin-right: 300px;
   
    
}
 .boxx button{ 
    padding-inline: 40px;
    height: 55px;
    background-color: var(--blue);
    border-radius: 5px;
    cursor: pointer;
    
}

/* فوترررررررررر */
.footer_top{
    width: 500px;
    height: 200px;
    max-width: 1200px;
    background-color: #e5e7eb;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
    /* display: flex; */
}


.footer_top {
    width: 500px;
    background-color: #e5e7eb;
    border-radius: 20px;
    padding: 25px;
    margin: 40px auto;
    
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-item .icon {
    margin-right: 10px;
    font-size: 22px;
}

.contact-item .text {
    font-weight: 600;
}
.footer_top button {
    margin-left: 150px;
    background-color: var(--blue);
    display: block;
    margin-top: -190px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container,
section,
div,
.row,
.col {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {

    .container,
    .row {
        display: block ;
    }

    .col,
    [class*="col-"] {
        width: 100% !;
        max-width: 100%;
        display: block ;
    }

    section,
    div {
        padding-left: 10px ;
        padding-right: 10px ;
    }

    nav ul {
        display: block ;
        text-align: left ;
        padding: 10px ;
    }

    nav ul li {
        margin-bottom: 10px ;
    }

    button,
    a.button {
        display: block ;
        width: fit-content;
        margin-top: 10px ;
    }

}